{% block header %}
    <button type="button" onclick="history.back()" class="btn btn-ghost mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
        Back
    </button>
    {% include "components/organization_layout_header.html" with title="Workspace Teams" subtitle="Manage your Team Under a Workspace" %}
{% endblock %}

<div class="divider my-0 mb-5"></div>

{% block content %}
  <div id="workspace-teams-container">
  {% include "workspaces/partials/workspaces_team_display.html" %}
  </div>
{% endblock %}

