<div class="container mx-auto px-4 py-4">
    <div class="flex justify-between items-center mb-8">
        <div>
            <h1 class="text-3xl font-bold">Remittance Under {{ organization.title }}</h1>
        </div>
                <div class="flex items-center space-x-4">
            <div class="flex items-center space-x-2">
                <label for="workspace_filter" class="font-medium text-base">Workspace:</label>
                <div class="relative">
                    <select
                    name="workspace_id"
                    id="workspace_filter"
                    class="select select-bordered select-sm min-w-[180px]"
                    hx-get="{% url 'remittance_list' organization_id=organization.pk %}"
                    hx-target="#remittance_table"
                    hx-trigger="change"
                    hx-include="[name='workspace_id'], [name='status']">
                    <option value="">All workspaces</option>
                     {% for workspace in workspaces %}
                    <option value="{{ workspace.pk }}" {% if selected_workspace_id == workspace.pk|stringformat:"s" %}selected{% endif %}>{{ workspace.title }}</option>
                     {% endfor %}
                    </select>
                </div>
            </div>
            <div class="flex items-center space-x-2">
                <label for="status_filter" class="font-medium text-base">Status:</label>
                <div class="relative">
                    <select
                    name="status"
                    id="status_filter"
                    class="select select-bordered select-sm min-w-[160px]"
                    hx-get="{% url 'remittance_list' organization_id=organization.pk %}"
                    hx-target="#remittance_table"
                    hx-trigger="change"
                    hx-include="[name='workspace_id'], [name='status']">
                    <option value="">All Statuses</option>
                     {% for status_value, status_label in remittance_status %}
                    <option value="{{ status_value }}" {% if selected_status == status_value %}selected{% endif %}>{{ status_label }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        
    </div>
    {% include "remittance/components/remittance_table.html" %}
</div>