{% extends "layouts/organization_layout.html" %}

{% block breadcrumbs %}
  <div class="text-sm breadcrumbs text-base-content/70">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'submission-teams' organization.pk %}">{{ organization.title }}</a></li>
      <li>{{ workspace.title }} Workspace</li>
      <li class="font-medium">{{ workspace_team.team.title }} Team</li>
    </ul>
  </div>
{% endblock %}

{% block header %}
  {% include "components/organization_layout_header.html" with title=workspace_team.team.title subtitle="Review and manage team level entries here." %}
{% endblock %}

{% block content %}

  <div class="flex justify-end items-center my-2 gap-2">
    <button 
      class="btn btn-outline btn-neutral btn-sm 2xl:btn-md transition duration-300 hover:scale-95"
      hx-target="#modal-placeholder"
      hx-swap="innerHTML"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
        <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
      </svg>
        
      <span class="hidden sm:inline">Import</span>
    </button>

    <button 
      class="btn btn-outline btn-neutral btn-sm 2xl:btn-md transition duration-300 hover:scale-95"
      hx-target="#modal-placeholder"
      hx-swap="innerHTML"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
        <path d="M9.25 13.25a.75.75 0 0 0 1.5 0V4.636l2.955 3.129a.75.75 0 0 0 1.09-1.03l-4.25-4.5a.75.75 0 0 0-1.09 0l-4.25 4.5a.75.75 0 1 0 1.09 1.03L9.25 4.636v8.614Z" />
        <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
      </svg>
    
      <span class="hidden sm:inline">Export</span>
    </button>

    <button 
        class="btn btn-sm btn-neutral"
        hx-get="{% url 'workspace_team_entry_create' organization_id=organization.pk workspace_id=workspace.pk workspace_team_id=workspace_team.pk %}"
        hx-target="#modal-placeholder"
        hx-swap="innerHTML"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
        </svg>
          
        <span class="hidden sm:inline">Add Expense Entry</span>
    </button>
  </div>

  {% include "entries/layouts/base_entry_content_layout.html" %}
{% endblock %}
