{% extends "layouts/default_layout.html" %}

{% block content %}

<div class="max-w-7xl mx-auto space-y-6 my-4 px-6">
  <!-- Breadcrumbs -->
  <div class="text-sm breadcrumbs text-base-content/70">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{% url 'submission-teams' organization.pk %}">{{ organization.title }}</a></li>
      <li>{{ workspace.title }} Workspace</li>
      <li class="font-medium">{{ workspace_team.team.title }} Team</li>
    </ul>
  </div>
  
  <!-- Team Overview Header -->
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3">
    <div>
      <h2 class="text-xl font-semibold text-base-content">{{ workspace_team.team.title }} Entries</h2>
      <p class="text-sm text-base-content/60">This team belongs to the <span class="font-medium">{{ workspace.title }}</span> workspace.</p>
    </div>
    <button 
        class="btn btn-neutral"
        hx-get="{% url 'workspace_team_entry_create' organization_id=organization.pk workspace_id=workspace.pk workspace_team_id=workspace_team.pk %}"
        hx-target="#modal-placeholder"
        hx-swap="innerHTML"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
        </svg>
          
        <span class="hidden sm:inline">Add Expense Entry</span>
    </button>
  </div>
</div>


{% include "entries/layouts/base_entry_content_layout.html" %}

{% endblock %}
