{% extends "layouts/custom_workspace_teams_layout.html" %}

{% block secondary_content %}
    <div class="py-6 px-4 mt-6">

        <!-- Title Section -->
        <section class="flex justify-between items-center mb-6">
            <h2 class="font-bold text-lg sm:text-xl md:text-2xl leading-tight">
                Workspace Expense Entries
            </h2>
            {% comment %} {% if can_add_workspace_entry %} {% endcomment %}
            <button 
                class="btn btn-neutral"
                hx-get="{% url 'workspace_expense_create' organization_id=organization.pk workspace_id=workspace.pk %}"
                hx-target="#modal-placeholder"
                hx-swap="innerHTML"
            >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                </svg>
                
                <span class="hidden sm:inline">Add Expense Entry</span>
            </button>
            {% comment %} {% endif %} {% endcomment %}
        </section>

        <div id="content-container">
            {% include "entries/partials/table.html" %}
        </div>

    </div>
{% endblock %}