{% extends 'layouts/default_layout.html' %}

{% block content %}
    
    <h1>Dummy Workspace Teams</h1>

    {% if workspace_teams %}
        <ul>
            {% for ws_team in workspace_teams %}
                <li>
                    <strong>Workspace Team ID:</strong> {{ ws_team.pk }}<br>
                    <strong>Workspace:</strong> {{ ws_team.workspace.title }}<br>
                    <strong>Team:</strong> {{ ws_team.team.title }}<br>

                    {% if ws_team.custom_remittance_rate %}
                        <strong>Custom Rate:</strong> {{ ws_team.custom_remittance_rate }}%
                    {% else %}
                        <strong>Using default rate:</strong> {{ ws_team.workspace.remittance_rate }}%
                    {% endif %}

                    <br>
                    <em>Created at:</em> {{ ws_team.created_at }}
                    <a 
                        href="{% url 'workspace_team_entry_list' organization_id=organization.pk workspace_id=ws_team.workspace.pk workspace_team_id=ws_team.pk %}"
                        class="btn btn-primary" 
                    >
                        Go
                    </a>
                </li>
                <hr>
            {% endfor %}
        </ul>

        {% if is_paginated %}
            <div>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>No workspace teams found for your account.</p>
    {% endif %}

{% endblock %}