{% load humanize %}


<tr 
    {% if is_oob %}hx-swap-oob="true"{% endif %}
    class="hover:bg-base-100 transition-colors {% if remittance.is_overpaid %}bg-warning/100{% endif %}" 
    id="remittance_row-{{ remittance.remittance_id }}"
>
    <!-- Member Info -->
    <td>
        <!-- Workspace Title -->
        <div class="flex items-center space-x-3">
            <div>
                <div class="font-bold text-base">
                    {{remittance.workspace_team.workspace.title }}
                </div>
            </div>
        </div>
    </td>
    <!-- Team Title -->
    <td>
        <div class="flex items-center space-x-3">
            <div>
                <div class="font-bold text-base">
                    {{remittance.workspace_team.team.title }}
                </div>
            </div>
        </div>
    </td>
    
    <!-- Due Amount -->
    <td>
        <div class="text-sm">
            {{ remittance.due_amount|intcomma }}
        </div>
    </td>
    
    <!-- Paid Amount -->
    <td>
        {{ remittance.paid_amount|intcomma }}
    </td>

    <!-- Remaining Amount -->
    <td>
        {% if remittance.is_overpaid %}
            <span class="text-green-500">
                {{ remittance.remaining_amount|intcomma }} (Overpaid)
            </span>
        {% else %}
            {{ remittance.remaining_amount|intcomma }} 
        {% endif %}
    </td>
    
    <!-- Status of the remittance -->
    <td>
        <div class="text-sm opacity-70">
            {{ remittance.status }}
        </div>
    </td>
    <!-- End Date of the workspace -->
    <td>
        <div class="text-sm opacity-70">
            {{ remittance.workspace_team.workspace.end_date }}
        </div>
    </td>
    
    <!-- Actions -->
    <td>
        <div class="flex justify-center space-x-2">
            {% if remittance.confirmed_by %}
                <button class="btn btn-success btn-sm">
                    {{remittance.is_overpaid}}
                    <i class="fas fa-eye">Received</i>
                </button>
            {% else %}
                <button class="btn btn-primary btn-sm">
                    <i class="fas fa-eye">Confirm</i>
                </button>
            {% endif %}
        </div>
    </td>
    
</tr>