{% extends "components/new_base_modal.html" %}

{% block modal_content %}

<form
    {% if is_oob %}hx-swap-oob="true"{% endif %}
    id="modal_content_template"
    class="modal-box w-4xl bg-white shadow-xl rounded-lg" 
    hx-post=""
    hx-swap="none">
{% csrf_token %}
<!-- <input type="hidden" name="organization_id" value="{{ request.resolver_match.kwargs.organization_id }}"> -->
    {{ form.as_p }}

    <div class="flex justify-end space-x-3">
    <button  type="button" class="btn btn-base-200 w-full sm:w-auto" onclick="this.closest('.modal').removeAttribute('open')">Close</button>
    <button type="submit" class="btn btn-primary w-full sm:w-auto">
        Add Team
    </button>
    </div>
</div>
</form>



{% endblock %}