<tr {% if is_oob %}hx-swap-oob="true"{% endif %} id="row-{{ member.pk }}" class="hover:bg-lemonade-100 text-lemonade-900">
    <td class="font-medium">{{ member.user.username }}</td>
    <td>
      <span class="badge 
        {% if member.is_active %}
          badge-success
        {% else %}
          badge-error
        {% endif %}
      ">
        {{ member.is_active|yesno:"Active,Inactive" }}
      </span>
    </td>
    
    <td class="text-center">
      <a href="{% url 'remove_organization_member' organization_id=organization.pk member_id=member.pk %}" 
         class="btn btn-sm btn-error text-white hover:bg-red-700 transition-all duration-200 shadow-sm hover:shadow-md">
        Remove
      </a>
    </td>
  </tr>