{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/htmx.js' %}"></script>
    <script src="{% static 'js/alpine.js' %}"></script>
  </head>
  <body>
   {% include 'includes/message.html' %}
  {% block body %}{% endblock %}
   {% comment %} {% block content %}
   {% endblock %} {% endcomment %}
   {% include 'includes/footer.html' %}
  </body>
</html>

{% comment %} body (footer + messages) > dynamic layout > content {% endcomment %}