{% load invitation_tags %}

<tr {% if is_oob %}hx-swap-oob="true"{% endif %} id="row-{{ invitation.pk }}" class="hover:bg-lemonade-100 text-lemonade-900">
    <td class="font-medium">{{ invitation.email }}</td>

    <td>{{ invitation.invited_by.user.username|default:"N/A" }}</td>

    <td>
      <div class="overflow-x-auto max-w-[220px] text-xs text-lemonade-700 px-2 py-1 rounded bg-lemonade-100 whitespace-nowrap">
        {% invitation_url invitation %}
      </div>
    </td>

    <td>
      <span class="badge 
        {% if invitation.is_valid %}
          badge-success
        {% else %}
          badge-error
        {% endif %}
      ">
        {{ invitation.is_valid|yesno:"Valid,Invalid" }}
      </span>
    </td>

    <td>
      {{ invitation.expired_at|date:"Y-m-d H:i" }}
    </td>

    <td class="text-center">
     <a href="{% url 'cancel_invitation' invitation.invitation_id %}" class="btn btn-error btn-sm">Cancel Invitation</a>
    </td>
  </tr>