{% load invitation_tags %}

<div {% if is_oob %}hx-swap-oob="true"{% endif %} id="table" class="overflow-x-auto rounded-xl my-3 shadow-md bg-lemonade-50">
  <table class="table w-full min-w-[768px]">
    <thead class="bg-lemonade-200 text-lemonade-900 text-sm uppercase font-semibold">
      <tr>
        <th>Email</th>
        <th>Invited By</th>
        <th>Link</th>
        <th>Status</th>
        <th>Expires</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for invitation in invitations %}
        <tr class="hover:bg-lemonade-100 text-lemonade-900">
          <td class="font-medium">{{ invitation.email }}</td>

          <td>{{ invitation.invited_by.user.username|default:"N/A" }}</td>

          <td>
            <div class="overflow-x-auto max-w-[220px] text-xs text-lemonade-700 px-2 py-1 rounded bg-lemonade-100 whitespace-nowrap">
              {% invitation_url invitation %}
            </div>
          </td>

          <td>
            <span class="badge 
              {% if invitation.is_valid %}
                badge-success
              {% else %}
                badge-error
              {% endif %}
            ">
              {{ invitation.is_valid|yesno:"Valid,Invalid" }}
            </span>
          </td>

          <td>
            {{ invitation.expired_at|date:"Y-m-d H:i" }}
          </td>

          <td class="text-center">
            <div class="dropdown dropdown-left">
              <button tabindex="0" role="button" class="btn btn-xs btn-ghost btn-square">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>                  
              </button>
              <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-32 p-2 shadow-md space-y-1">
                <li>
                  <a href="#" class="flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18v-4.5l1.13-.45a4.5 4.5 0 011.13-1.897L16.863 4.487z" />
                    </svg>
                    Edit
                  </a>
                </li>
                <li>
                  <a href="#" class="flex items-center gap-2 text-red-600 hover:text-red-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.342.052.682.107 1.022.166m0 0h.918a2.25 2.25 0 012.244 2.077L9.75 8.152a2.25 2.25 0 01-2.244 2.077H5.337A2.25 2.25 0 013.093 8.152L2.03 5.79a48.08 48.08 0 01-.397-1.022V3.25" />
                    </svg>
                    Delete
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center text-lemonade-700 py-4">
            No invitations found.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if is_paginated %}
  {% include "organization_members/partials/pagination.html" %}
{% endif %}