<div id="modal" class="modal" open>
    {% block modal_content %}
    
    {% endblock %}
    <!-- background click to close the modal temporariy commented due to low perfomance( figure out later ) -->
    <!-- <div class="modal-backdrop bg-black/50 backdrop-blur-sm" onclick="this.closest('.modal').removeAttribute('open')"></div> -->
</div>
  
<!-- plase use this  -->
<!-- 
<button class="btn" onclick="this.closest('.modal').removeAttribute('open')">Close</button>  to close the modal whcih is daisy UI apporach, at first we have impplmented the alpine approah, but as we have not remove the entire DOM.It just hide the modal which is intefereing the scroll..  -->

<!-- or this -->

