{% with query_string=request.GET.urlencode %}
<div 
  {% if is_oob %}hx-swap-oob="true"{% endif %} 
  id="pagination-container" 
  class="flex justify-center mt-4"
>
  <div class="join">
    {% if page_obj.has_previous %}
      <a 
        href="?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.previous_page_number }}" 
        class="join-item btn btn-sm bg-lemonade-100 hover:bg-lemonade-300 text-lemonade-800 border-lemonade-300"
        hx-get="?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.previous_page_number }}"
        hx-target="#content-container"
        hx-swap="innerHTML"
      >
        « Previous
      </a>
    {% else %}
      <button class="join-item btn btn-sm btn-disabled">« Previous</button>
    {% endif %}

    {% for num in paginator.page_range %}
      {% if page_obj.number == num %}
        <button class="join-item btn btn-sm bg-neutral text-neutral-content border-lemonade-600">{{ num }}</button>
      {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
        <a 
          href="?{% if query_string %}{{ query_string }}&{% endif %}page={{ num }}" 
          class="join-item btn btn-sm bg-lemonade-100 hover:bg-lemonade-300 text-lemonade-800 border-lemonade-300"
          hx-get="?{% if query_string %}{{ query_string }}&{% endif %}page={{ num }}"
          hx-target="#content-container"
          hx-swap="innerHTML"
        >
          {{ num }}
        </a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a 
        href="?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}" 
        class="join-item btn btn-sm bg-lemonade-100 hover:bg-lemonade-300 text-lemonade-800 border-lemonade-300"
        hx-get="?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}"
        hx-target="#content-container"
        hx-swap="innerHTML"
      >
        Next »
      </a>
    {% else %}
      <button class="join-item btn btn-sm btn-disabled">Next »</button>
    {% endif %}
  </div>
</div>
{% endwith %}
