{% extends "organizations/organization_modal.html" %}
{% block content %}
<h3 class="font-bold text-lg mb-4">Add New Organization</h3>

<form hx-post="{% url 'create_organization' %}"
hx-target="#organization-container"
hx-swap="innerHTML"
hx-on:org-creation-success="organization_modal.close()"
>
 {% csrf_token %}
<div class="form-control w-full">
  <label class="label">
      <span class="label-text">Title</span>
  </label>

  {{ form.title }}

  {% if form.title.errors %}
      <label class="label text-error">
          {{ form.title.errors }}
      </label>
  {% endif %}        

  </div>

  <div class="form-control w-full">
  <label class="label">
      <span class="label-text">Description</span>
  </label>

  {{ form.description }}

  {% if form.description.errors %}
      <label class="label text-error">
          {{ form.description.errors }}
      </label>
  {% endif %}        

  </div>

  <div class="form-control w-full">
      <label class="label">
          <span class="label-text">Status</span>
      </label>

      {{ form.status }}

      {% if form.status.errors %}
          <label class="label text-error">
              {{ form.status.errors }}
          </label>
      {% endif %}        

      </div>


      <div class="modal-action">
          <button type="button" class="btn"
              onclick="organization_modal.close()">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Organization</button>
      </div>
    </form>
{% endblock %}