{% extends "components/new_base_modal.html" %}

{% block modal_content %}
      <form method="dialog" class="modal-box max-w-lg ">
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-2xl font-bold">{{ organization.title }}</h2>
            <div class="badge badge-primary">{{ organization.status }}</div>
        </div>
        <div class="mb-2 text-gray-700">
          <strong>Owner:</strong> {{ organization.owner.user.username }}
        </div>
  
        {% if organization.description %}
        <div class="mb-2 text-gray-600">
          <strong>Description:</strong> {{ organization.description }}
        </div>
        {% endif %}
  
        <div class="mb-2 text-gray-700">
          <strong>Expense:</strong> ${{ organization.expense }}
        </div>

        <!-- Members Section -->
        <div class="mb-2 text-gray-700">
          <strong>Members:</strong> {{ members }}
          <!-- <button class="btn btn-sm btn-outline">View Members</button> -->
        </div>
        <div class="mb-2 text-gray-700">
          <strong>Workspaces:</strong> {{ workspaces }}
          <!-- <button class="btn btn-sm btn-outline">View Members</button> -->
        </div>
        <div class="mb-2 text-gray-700">
          <strong>Teams:</strong> {{ teams }}
          <!-- <button class="btn btn-sm btn-outline">View Teams</button> -->
        </div>

        <div class="flex justify-end">
          <button  type="button" class="btn btn-base-200 w-full sm:w-auto" onclick="this.closest('.modal').removeAttribute('open')">Close</button>
        </div>
      </form>
     
  
{% endblock %}
  