<div x-data="{ open: true }" x-show="open" @keydown.escape.window="open = false">
    <div class="modal modal-open">
      <form method="dialog" class="modal-box max-w-lg" @click.outside="open = false">
       <h1>hello and stil working on creation</h1>
       {{ form.as_p }}

        <div class="mt-4 flex justify-end">
          <button type="button" class="btn btn-sm btn-outline" @click="open = false">Close</button>
        </div>
      </form>
  
      <!-- Optional: Background click to close -->
      <div class="modal-backdrop" @click="open = false"></div>
    </div>
  </div>
  